name: Docker Image

on:
  push:
    branches: [main]
    paths:
      - "web/docker/Dockerfile.the-companion"
    tags:
      - "the-companion-v*"
  pull_request:
    branches: [main]
    paths:
      - "web/docker/Dockerfile.the-companion"

permissions:
  contents: read

env:
  REGISTRY: docker.io
  IMAGE_NAME: stangirard/the-companion

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to Docker Hub
        if: github.event_name != 'pull_request'
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Extract metadata
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}
          tags: |
            type=sha
            type=ref,event=branch
            type=match,pattern=the-companion-v(.*),group=1
            type=raw,value=latest,enable=${{ startsWith(github.ref, 'refs/tags/the-companion-v') }}

      - name: Build & Push
        uses: docker/build-push-action@v6
        with:
          context: web/docker
          file: web/docker/Dockerfile.the-companion
          push: ${{ github.event_name != 'pull_request' }}
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          cache-from: |
            type=gha
            type=registry,ref=${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}:latest
          cache-to: type=gha,mode=max
          platforms: linux/amd64,linux/arm64
